*,
*::before,
*::after {
  box-sizing: border-box;
  margin: .1rem;
}

body,
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.section-of-top-btn {
  justify-content: flex-end;
  padding: .75rem;
  justify-content: space-between;
}