*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-of-top-btn{
margin: 10px;
display: flex;
justify-content: flex-end;
padding: .75rem;
justify-content: space-between;
}