/* * Yay mai nai backgrounds lagay hai takay tum ko pta lg jay konsa element kesay style krna hai*/

/* #news{
    background-color: pink;
} */
/* #ul{
    /* margin: auto; */
/* } 
.title{
    background-color: aqua;
}
.desc{
    background-color: antiquewhite;
}
.author{
    background-color: blue;
} */

.cards-container {
  text-align: center;
  justify-content: center;
  display: flex;
}
.cards-container .cards {
  border: 1px solid #ede9d5;
  border-radius: 5px;
  width: 330px;
  height: 430px;
  padding: 10px 5px 20px 5px;
  margin: 10px 20px 15px 5px;
}
.cards-container .cards img {
  margin-top: 10px;
}
.cards .cards-peraghraph {
  font-size: 15px;
  padding: 5px;
}
.cards-button {
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #97deff;
  text-decoration: none;
  color: black;
}
.cards-button:hover {
  background-color: grey;
  color: white;
}
